.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding-left: 100px;
    padding-right: 100px;
    &__container{
        justify-content: flex-start;
        display: flex;
        align-items: center;
    }
    &__title{
        margin-right: 50px;
    }
    &__link{
        margin-right: 15px;
        text-decoration: none;
        color: #0f7afc;
        border-bottom: 1px solid;
        border-bottom-color: rgba(15, 122, 252, 0.2);
        &:hover{
            color: #cf0000;
            border-bottom-color: rgba(208, 64, 0, 0.2);
        }
    }
}
.avatar{
    display: flex;
    align-items: center;
    cursor: pointer;
    &__container{
        display: flex;
        flex-direction: column;
        margin-left: 10px;
    }
    &__image{
        width: 50px;
        height: 50px;
        margin-right: 10px;
    }
    &__text{
        margin-bottom: 5px;
    }
}